---
import type { CollectionEntry } from "astro:content";

import Icon from "./Icon.astro";
import Pill from "./Pill.astro";

interface Props {
  project: CollectionEntry<"proyects">;
}

const { data } = Astro.props.project;
---

<article class="project">
  <div class="project-image">
    <a href={data.deploy_url ?? data.github_url} target="_blank" rel="noopener noreferrer">
      <img src={data.img} alt={data.img_alt} loading="lazy" decoding="async" />
    </a>
  </div>
  <div class="project-content">
    <header class="project-header">
      <p>{data.subtitle}</p>
      <h3>{data.title}</h3>
    </header>
    <main class="project-data">
      <p>{data.description}</p>
      <div class="tags">
        {data.tags.map((t) => <Pill>{t}</Pill>)}
      </div>
    </main>
    <footer class="project-footer">
      <a href={data.github_url} target="_blank" rel="noopener noreferrer">
        <Icon icon="github-logo" size="1.75rem" />
      </a>
      {
        data.deploy_url ? (
          <a href={data.deploy_url} target="_blank" rel="noopener noreferrer">
            <Icon icon="arrow-square-out" size="1.75rem" />
          </a>
        ) : null
      }
    </footer>
  </div>
</article>

<style>
  .project {
    border-radius: 0.5rem;
    border: 2px solid var(--gray-800);
    box-shadow:
      0.5px 1px 0 0 var(--gray-800),
      1.5px 2px 0 0 var(--gray-800),
      2.5px 3px 0 0 var(--gray-800),
      3.5px 4px 0 0 var(--gray-800),
      4.5px 5px 0 0 var(--gray-800),
      5.5px 6px 0 0 var(--gray-800);
    padding: 2rem;
  }

  .project-image {
    & img {
      border-radius: 0.25rem;
    }
  }

  .project-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 2.5rem;
  }

  .project-header {
    & p {
      color: var(--accent-dark);
      font-size: var(--text-base);
      font-family: var(--font-brand);
    }

    & h3 {
      color: var(--gray-0);
      font-size: var(--text-xl);
      font-family: var(--font-brand);
    }
  }

  .project-data p {
    padding-bottom: 1rem;
    font-size: var(--text-md);
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    font-size: var(--text-sm);
  }

  .project-footer {
    --icon-size: var(--text-2xl);
    --icon-padding: 0.35rem;
 
    margin-top: auto;
    display: flex;
    justify-content: end;
    gap: 0.625rem;
    font-size: var(--icon-size);

    & a {
      display: flex;
      padding: var(--icon-padding);
      color: var(--gray-800);
      transition: color var(--theme-transition);
    }

    & a:is(:hover, :focus-visible) {
      color: var(--accent-dark);
    }
  }

  @media (min-width: 64em) {
    .project {
      display: grid;
      grid-template-columns: 6fr 4fr;
      align-items: center;
      gap: 1.5rem;
    }
  }
</style>
